body{
	margin: 0px;
	padding: 0px;
	background-color: #e9b929;
	background-image: url('../images/texture-bg.jpg');
	font-family: tahoma, sans-serif;
	line-height: 1.5em;
}
a img{ border: none; }

.main-container{
	width: 1140px;
	background-color:#ffffff;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 80px;
}
.top-nav{
	width:1000px;
	margin-left: auto;
	margin-right: auto;
	height: 150px;
}
.nav-link{
	display: inline-block;
	float: left;
	height: 60px;
	width: 155px;
	margin: 0 5px 0 0;
	background-color: #000;
	background-position: bottom;
}
.nav-link:hover, .nav-link.current{ height: 80px;}

#nav-logo{
	display: block;
	float: left;
}
#nav-home{ background-image: url('../images/nav-home.gif');}
#nav-menu{ background-image: url('../images/nav-menu.gif');}
#nav-about{ background-image: url('../images/nav-about.gif');}
#nav-locations{ background-image: url('../images/nav-locations.gif');}

#nav-home.current{ background-image: url('../images/nav-current-home.gif');}
#nav-menu.current{ background-image: url('../images/nav-current-menu.gif');}
#nav-about.current{ background-image: url('../images/nav-current-about.gif');}
#nav-locations.current{ background-image: url('../images/nav-current-locations.gif');}
h1{
	font-family: 'Permanent Marker', Rockwell, sans-serif;
	color: #000;
	padding-left: 100px;
}
h2{font-family: 'Permanent Marker', Rockwell, sans-serif; margin: 0; font-size: 1.6em; line-height: 1.25em;}
h3{
	font-family: rockwell, monospace;
	margin: 0;
}

.clear{ height: 0; clear:both;}

/*sidebar on menu */
.sidebar{
	width: 320px;
	padding:20px;
	float: right;
	margin-right: 80px;
	border: 1px dashed #000;
}
.sidebar ul{ padding: 0 0 0 20px;}
.sidebar li{ margin-bottom: 20px;}

/* home */
.featured-beer{
	width: 624px;
	float: left;
	margin: 0 20px 20px 40px;
}

.beer-news{
	border-top: 1px dashed #000;
	width: 624px;
	float: left;
	margin: 0 20px 20px 40px;
	padding: 10px 0 80px 0;
}
.beer-news p{ margin-top: 0; }
.beer-news h2{margin: 0px 0 20px 0;}

/*about */
.statement{
	height: 400px;
	margin-left: auto;
	margin-right: auto;
	background-color: #000;
	background-image: url('../images/statement-bg.jpg');
	background-position: right top;
	background-repeat: no-repeat;
}
.statement-text{
	background-color: rgba(0, 0, 0, 0.8);
	width: 410px;
	height: 320px;
	padding: 40px;
	margin-left: 90px;
	color: #fff;
}
.statement-text h4{
	font-family: 'Permanent Marker', Rockwell, sans-serif;
	font-size: 30px;
	line-height: 45px;
	padding: 0;
	margin: 0;
}
.statement-text p{
	font-family: rockwell, arial, monospace;
	font-size: 16px;
	line-height: 27px;
	padding-top: 20px;
}
.statement-text em{ color:#f7de53; }
.about-photos { width: 880px; height:260px; margin: auto; margin-top: 20px;}
.about-photos img{margin: 0 20px 0 0;}
.copyright{ padding: 30px 0 0 130px; color: #999; font-size: .7em; line-height: 1.25em;}
.copyright ul{ margin: 0; padding: 0 0 0 20px;}
.copyright li{ margin: 0;}
.copyright a{color: #999; text-decoration: none;}
.copyright a:hover{color: #666;}

/* menu */
.sidebar-beer{
	background-color: #e5e5e5;
	border: none;
}

.menu-section{
	margin: 0 20px 40px 100px;
	padding-top: 10px;
	float: left;
	width: 550px;
	border-top: 1px dashed #000;
}
.menu-section h2, .sidebar-beer h2{
	margin-bottom: 20px;
}
.menu-section p, .sidebar-beer p{
	margin: 0 0 20px 0;
}
.menu-section h4{ margin:0;}

/* locations */
.hours{
	margin: 0 0 20px 100px;
	padding: 10px;
	background-color: #e5e5e5;
	width:440px;
	height: 70px;
}
.hours h3{ margin: 0px;}
.hours div{ width: 220px; float: left;}
.locations{
	padding: 0 0px 50px 100px;
}
.locations div{
	margin-bottom: 20px;
}